body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #2C2B2B;
    overflow-x: hidden;
}

.home, 
.sale{
    text-decoration: none;
    color: #4b4b4b;
    font-size: 16px;
}

.link{
    margin-top: 2vw;
    margin-bottom: 2rem;
    margin-left: 3rem;
}

.thanh{
    background-color: #CBA6A6;
    width: 16rem;
    height: 2px;
    margin: 10px 0px 5px 0;
}
.all{
    width: 16rem;
}
h3{
    display: grid;
    grid-template-columns: 35px 1fr;
    align-items: center;
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 0;
}

.icon{
    width: 27px;
}

a{
    text-decoration: none;
    color: #2C2B2B;
}

.arrow{
    position: absolute;
    top: 6px;
    left: 15px;
    color: #800208;
    width: 20px;
}

.do{
    margin: 10px 10px 0px 35px;
}

.do1{
    font-weight: bold;
    color: #800208;
    margin: 10px 10px 0px 35px;
    
}
.danhmuccon{
    position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    align-items: center;
}

.menu{
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
    left: 0;
    display: none;
}

.option {
    display: flex;
    padding: 0.5rem 0.5rem;
    align-items: center;
    margin: 0.3rem 0;
    cursor: pointer;
}

/* .open-menu {
    display: block;
    opacity: 1;
} */

.checkbox{
    border-style: solid;
    border-width: 1.5px;
    border-color: #4b4b4b;
    width: 15px;
    height: 15px;
    margin: 0em 0.5rem 0em 0rem;
}

.dropdown{
    width: 15.5rem;
    min-width: 5rem;
}

.dropdown.active .menu{
    display: block;
}

.caret{
    transition: 0.3s;
    position: relative;
    width: 18px;
    height: 3px;
    background-color: #2C2B2B;
    border-radius: 2px;
}

.caret::before{
    position: absolute;
    content: '';
    transition: 0.3s;
    width: 18px;
    height: 3px;
    background-color: #2C2B2B;
    border-radius: 2px;
}

.active .caret::before {
    transform: rotate(-90deg);
}

.dropdown.active .caret{
    transform: rotate(-180deg);
}

.select{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.1rem;
    cursor: pointer;
}

.selected_1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    width: 15.5rem;
    min-width: 5rem;
}

.filter{
    width: 16rem;
}

.selected_1 li{
    list-style: none;
    padding: 0em 0.4rem 0.2em 0.4rem;
    margin: 0.2rem;
    border-width: 2px;
    border-style: solid;
    border-color: #800208; 
    border-radius: 5px;
    height: 1rem;
}

.selected_1 li span{
    padding: 0em 0em 0em 0.4rem;
    cursor: pointer;
}

.than{
    padding: 0.5rem 3.8rem;
    display: grid;
    grid-template-areas: "17em 1fr" "17em  1fr";
    grid-template-columns: 17rem 1fr;
    gap: 2rem;
}

.danhmuc{
    width: 16em;
}

/* loc{

} */

.select-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-style: solid;
    border-width: 2px;
    border-color: #800208;
    width: 18rem;
    padding: 0.2rem 0.5rem;
    z-index: 2;
    cursor: pointer;
}

.sBtn-text{
    margin-left: 1rem;
    font-weight: bold;
}

.select-menu{
    position: relative;
    width: 18rem;
}

.options{
    position: absolute;
    /* left: 22.84rem; */
    z-index: 1;
    background-color: white;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    width: 19.1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px;
    display: none;
}

.option_1 {
    padding: 1rem;
    width: 17.2rem;
    cursor: pointer;
}

.option_1:hover{
    background-color: #800208;
    color: white;
}

.select-menu.active .options{
    display: block;
}

.select-btn .icon{
    transition: 0.3s;
}

.select-menu.active .select-btn .icon{
    transform: rotate(-180deg);
}

/* san pham  */

.anh{
    /* position: relative; */
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;
}

.sanpham1{
    position: relative;
    background-color: #F8F8F8;
    width: 19rem;
    /* display: flex; */
    /* align-items: center; */
    justify-content: center;
    margin-top: 2.5rem;
    border-radius: 2px;
}

.sanpham1:hover{
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.ten{
    padding-left: 1rem;
    font-size: 0.8rem;
    font-weight: medium;
    margin-top: 1rem;
}

.mau{
    display: flex;
    justify-content: start;
    margin-top: 0.5rem;
    margin-left: 0.8rem;
}

.mau1{
    position: relative;
    width: 2rem;
    height: 2rem;
    border-radius: 3px;
    background-color: #e6e6e6;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    border: 1.5px solid #800208;
}

.mau2{
    position: relative;
    width: 2rem;
    height: 2rem;
    border-radius: 3px;
    background-color: #e6e6e6;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.gia{
    padding-left: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 0.5rem;
    padding-bottom: 0.8rem;
}

.gio{
    position: absolute;
    bottom: 0.8rem;
    right: 1.5rem;
    height: 2.5rem;
    width: auto;
}

.sanpham{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}

.mau_2{
    display: flex;
    justify-content: start;
    margin-top: 0.5rem;
    margin-left: 0.8rem;
}

.mau_2_1{
    position: relative;
    width: 2rem;
    height: 2rem;
    border-radius: 3px;
    background-color: #e6e6e6;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;

}

.mau_2_2{
    position: relative;
    width: 2rem;
    height: 2rem;
    border-radius: 3px;
    background-color: #eeeeee;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;

}
.mau_2_1::before{
    position: absolute;
    top: -0.25rem;
    right: -0.25rem;
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    border-radius: 50%;
    background-color: #C7C1CE;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    /* z-index: 0; */
}
.mau_2_2::before{
    position: absolute;
    top: -0.25rem;
    right: -0.25rem;
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    border-radius: 50%;
    background-color: #EDE0D9;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    /* z-index: 0; */
}
.mau_3{
    display: flex;
    justify-content: start;
    margin-top: 0.5rem;
    margin-left: 0.8rem;
}

.mau_3_1{
    position: relative;
    width: 2rem;
    height: 2rem;
    border-radius: 3px;
    background-color: #eeeeee;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.mau_3_2{
    position: relative;
    width: 2rem;
    height: 2rem;
    border-radius: 3px;
    background-color: #e6e6e6;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}
.mau_3_2::before{
    position: absolute;
    top: -0.25rem;
    right: -0.25rem;
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    border-radius: 50%;
    background-color: #EECAB7;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    /* z-index: 0; */
}
.mau_3_1::before{
    position: absolute;
    top: -0.25rem;
    right: -0.25rem;
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    border-radius: 50%;
    background-color: #ECE4DC;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    /* z-index: 0; */
}
.mau_4{
    display: flex;
    justify-content: start;
    margin-top: 0.5rem;
    margin-left: 0.8rem;
}

.mau_4_1{
    position: relative;
    width: 2rem;
    height: 2rem;
    border-radius: 3px;
    background-color: #e6e6e6;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.mau_4_2{
    position: relative;
    width: 2rem;
    height: 2rem;
    border-radius: 3px;
    background-color: #e6e6e6;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}
.mau_4_2::before{
    position: absolute;
    top: -0.25rem;
    right: -0.25rem;
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    border-radius: 50%;
    background-color: #2E2C1F;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    /* z-index: 0; */
}
.mau_4_1::before{
    position: absolute;
    top: -0.25rem;
    right: -0.25rem;
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    border-radius: 50%;
    background-color: #C2A084;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    /* z-index: 0; */
}
.mau_5{
    display: flex;
    justify-content: start;
    margin-top: 0.5rem;
    margin-left: 0.8rem;
}

.mau_5_1{
    position: relative;
    width: 2rem;
    height: 2rem;
    border-radius: 3px;
    background-color: #e6e6e6;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.mau_5_2{
    position: relative;
    width: 2rem;
    height: 2rem;
    border-radius: 3px;
    background-color: #e6e6e6;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}
.mau_5_2::before{
    position: absolute;
    top: -0.25rem;
    right: -0.25rem;
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    border-radius: 50%;
    background-color: #202024;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    /* z-index: 0; */
}
.mau_5_1::before{
    position: absolute;
    top: -0.25rem;
    right: -0.25rem;
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    border-radius: 50%;
    background-color: #8D5C41;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    /* z-index: 0; */
}
.mau_6{
    display: flex;
    justify-content: start;
    margin-top: 0.5rem;
    margin-left: 0.8rem;
}

.mau_6_1{
    position: relative;
    width: 2rem;
    height: 2rem;
    border-radius: 3px;
    background-color: #e6e6e6;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.mau_6_2{
    position: relative;
    width: 2rem;
    height: 2rem;
    border-radius: 3px;
    background-color: #e6e6e6;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}
.mau_6_1::before{
    position: absolute;
    top: -0.25rem;
    right: -0.25rem;
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    border-radius: 50%;
    background-color: #624535;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    /* z-index: 0; */
}
.mau_6_2::before{
    position: absolute;
    top: -0.25rem;
    right: -0.25rem;
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    border-radius: 50%;
    background-color: #4A4341;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    /* z-index: 0; */
}
.mau_7{
    display: flex;
    justify-content: start;
    margin-top: 0.5rem;
    margin-left: 0.8rem;
}

.mau_7_1{
    position: relative;
    width: 2rem;
    height: 2rem;
    border-radius: 3px;
    background-color: #e6e6e6;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.mau_7_2{
    position: relative;
    width: 2rem;
    height: 2rem;
    border-radius: 3px;
    background-color: #e6e6e6;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}
.mau_7_1::before{
    position: absolute;
    top: -0.25rem;
    right: -0.25rem;
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    border-radius: 50%;
    background-color: #EDEBE7;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    /* z-index: 0; */
}
.mau_7_2::before{
    position: absolute;
    top: -0.25rem;
    right: -0.25rem;
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    border-radius: 50%;
    background-color: #202024;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    /* z-index: 0; */
}
.mau_8{
    display: flex;
    justify-content: start;
    margin-top: 0.5rem;
    margin-left: 0.8rem;
}

.mau_8_1{
    position: relative;
    width: 2rem;
    height: 2rem;
    border-radius: 3px;
    background-color: #e6e6e6;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.mau_8_2{
    position: relative;
    width: 2rem;
    height: 2rem;
    border-radius: 3px;
    background-color: #e6e6e6;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}
.mau_8_1::before{
    position: absolute;
    top: -0.25rem;
    right: -0.25rem;
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    border-radius: 50%;
    background-color: #4A4341;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    /* z-index: 0; */
}
.mau_8_2::before{
    position: absolute;
    top: -0.25rem;
    right: -0.25rem;
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    border-radius: 50%;
    background-color: #EAD7B4;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    /* z-index: 0; */
}
.mau_9{
    display: flex;
    justify-content: start;
    margin-top: 0.5rem;
    margin-left: 0.8rem;
}

.mau_9_1{
    position: relative;
    width: 2rem;
    height: 2rem;
    border-radius: 3px;
    background-color: #e6e6e6;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.mau_9_2{
    position: relative;
    width: 2rem;
    height: 2rem;
    border-radius: 3px;
    background-color: #e6e6e6;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}
.mau_9_2::before{
    position: absolute;
    top: -0.25rem;
    right: -0.25rem;
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    border-radius: 50%;
    background-color: #353746;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    /* z-index: 0; */
}
.mau_9_1::before{
    position: absolute;
    top: -0.25rem;
    right: -0.25rem;
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    border-radius: 50%;
    background-color: #BB8D64;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    /* z-index: 0; */
}
.mau_10{
    display: flex;
    justify-content: start;
    margin-top: 0.5rem;
    margin-left: 0.8rem;
}

.mau_10_1{
    position: relative;
    width: 2rem;
    height: 2rem;
    border-radius: 3px;
    background-color: #e6e6e6;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.mau_10_2{
    position: relative;
    width: 2rem;
    height: 2rem;
    border-radius: 3px;
    background-color: #e6e6e6;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}
.mau_10_1::before{
    position: absolute;
    top: -0.25rem;
    right: -0.25rem;
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    border-radius: 50%;
    background-color: #EECBB4;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    /* z-index: 0; */
}
.mau_10_2::before{
    position: absolute;
    top: -0.25rem;
    right: -0.25rem;
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    border-radius: 50%;
    background-color: #171A30;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    /* z-index: 0; */
}
.mau_11{
    display: flex;
    justify-content: start;
    margin-top: 0.5rem;
    margin-left: 0.8rem;
}

.mau_11_1{
    position: relative;
    width: 2rem;
    height: 2rem;
    border-radius: 3px;
    background-color: #e6e6e6;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.mau_11_2{
    position: relative;
    width: 2rem;
    height: 2rem;
    border-radius: 3px;
    background-color: #e6e6e6;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}
.mau_11_1::before{
    position: absolute;
    top: -0.25rem;
    right: -0.25rem;
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    border-radius: 50%;
    background-color: #212025;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    /* z-index: 0; */
}
.mau_11_2::before{
    position: absolute;
    top: -0.25rem;
    right: -0.25rem;
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    border-radius: 50%;
    background-color: #d3f1ed;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    /* z-index: 0; */
}
.mau_12{
    display: flex;
    justify-content: start;
    margin-top: 0.5rem;
    margin-left: 0.8rem;
}

.mau_12_1{
    position: relative;
    width: 2rem;
    height: 2rem;
    border-radius: 3px;
    background-color: #e6e6e6;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.mau_12_2{
    position: relative;
    width: 2rem;
    height: 2rem;
    border-radius: 3px;
    background-color: #e6e6e6;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}
.mau_12_2::before{
    position: absolute;
    top: -0.25rem;
    right: -0.25rem;
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    border-radius: 50%;
    background-color: #212025;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    /* z-index: 0; */
}
.mau_12_1::before{
    position: absolute;
    top: -0.25rem;
    right: -0.25rem;
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    border-radius: 50%;
    background-color: #b4d2ee;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    /* z-index: 0; */
}
.mau_13{
    display: flex;
    justify-content: start;
    margin-top: 0.5rem;
    margin-left: 0.8rem;
}

.mau_13_1{
    position: relative;
    width: 2rem;
    height: 2rem;
    border-radius: 3px;
    background-color: #e6e6e6;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.mau_13_2{
    position: relative;
    width: 2rem;
    height: 2rem;
    border-radius: 3px;
    background-color: #e6e6e6;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}
.mau_13_2::before{
    position: absolute;
    top: -0.25rem;
    right: -0.25rem;
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    border-radius: 50%;
    background-color: #8D5C41;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    /* z-index: 0; */
}
.mau_13_1::before{
    position: absolute;
    top: -0.25rem;
    right: -0.25rem;
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    border-radius: 50%;
    background-color: #a4eab3;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    /* z-index: 0; */
}
.mau_14{
    display: flex;
    justify-content: start;
    margin-top: 0.5rem;
    margin-left: 0.8rem;
}

.mau_14_1{
    position: relative;
    width: 2rem;
    height: 2rem;
    border-radius: 3px;
    background-color: #e6e6e6;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.mau_14_2{
    position: relative;
    width: 2rem;
    height: 2rem;
    border-radius: 3px;
    background-color: #e6e6e6;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}
.mau_14_1::before{
    position: absolute;
    top: -0.25rem;
    right: -0.25rem;
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    border-radius: 50%;
    background-color: #c5da79;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    /* z-index: 0; */
}
.mau_14_2::before{
    position: absolute;
    top: -0.25rem;
    right: -0.25rem;
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    border-radius: 50%;
    background-color: #353746;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    /* z-index: 0; */
}
.mau_15{
    display: flex;
    justify-content: start;
    margin-top: 0.5rem;
    margin-left: 0.8rem;
}

.mau_15_1{
    position: relative;
    width: 2rem;
    height: 2rem;
    border-radius: 3px;
    background-color: #e6e6e6;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.mau_15_2{
    position: relative;
    width: 2rem;
    height: 2rem;
    border-radius: 3px;
    background-color: #e6e6e6;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}
.mau_15_1::before{
    position: absolute;
    top: -0.25rem;
    right: -0.25rem;
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    border-radius: 50%;
    background-color: #854215;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    /* z-index: 0; */
}
.mau_15_2::before{
    position: absolute;
    top: -0.25rem;
    right: -0.25rem;
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    border-radius: 50%;
    background-color: #e47d38;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    /* z-index: 0; */
}
.mau_16{
    display: flex;
    justify-content: start;
    margin-top: 0.5rem;
    margin-left: 0.8rem;
}

.mau_16_1{
    position: relative;
    width: 2rem;
    height: 2rem;
    border-radius: 3px;
    background-color: #e6e6e6;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.mau_16_2{
    position: relative;
    width: 2rem;
    height: 2rem;
    border-radius: 3px;
    background-color: #e6e6e6;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}
.mau_16_1::before{
    position: absolute;
    top: -0.25rem;
    right: -0.25rem;
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    border-radius: 50%;
    background-color: #EECBB4;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    /* z-index: 0; */
}
.mau_16_2::before{
    position: absolute;
    top: -0.25rem;
    right: -0.25rem;
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    border-radius: 50%;
    background-color: #EECBB4;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    /* z-index: 0; */
}

.heart{
    /* position: absolute; */
    /* top: 1rem; */
    /* right: 1.1rem; */
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    border: none;
    transition: .3s;
}

.heart::before{
    position: absolute;
    top: 1rem;
    right: 1.1rem;
    content: '';
    background-image: url(../img/heart.png);
    width: 1.5rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    border: none;
    transition: .3s;
}
.heart_in{
    width: 1.5rem;
    transition: .3s;
}

.heart.active::before{
    background-image: url(../img/hearted.png);
}
.end{
    background-color: #CBA6A6;
    width: auto;
    height: 2px;
    margin: 3rem 0px 2rem 0;
}

.popup {
    position: fixed;
    inset: 0;
    background-color: rgba(217, 217, 217, 0.5);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(5px);
    display: grid;
    place-items: center;
    padding: 2rem 1.5rem;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all .3s;
}

.khung{
    position: relative;
    background-color: white;
    border: 2px solid #800208;
    padding: 50px 25px 15px;
    width: 850px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 15px;
    transition: all 0.3s;
    transform: rotateX(90deg);
}

.close {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 32px;
    width: fit-content;
    cursor: pointer;
}

.anhsanpham{
    display: grid;
    grid-template-columns: 4rem 20rem;
    /* padding-top: 0.5rem; */
}

.anhchon{
    display: grid;
    grid-template-rows: 4rem 4rem 4rem 4rem;
    gap: 0.5rem;
}

.chon{
    padding: 0;
    margin: 0;
    width: 3rem;
}

.chosen{
    /* justify-self: center; */
    width: 3rem;
    height: 3.9rem;
    border: 2px solid #800208;
}

.anh1{
    width: 3rem;
    padding: 0;
    margin: 0;
}

.anhshow .active{
    position: relative;
    width: 20rem;
    z-index: 1;
}

.trai, .phai{
    position: absolute;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.1);
}

.trai:hover, .phai:hover{
    background-color: rgba(255, 255, 255, 0.5);
}

.trai{
    width: 2rem;
    height: 2rem;
    left: 6rem;
    top: 15rem;
    /* background-color: white; */
    border-radius: 50%;
}

.phai{
    width: 2rem;
    height: 2rem;
    right: 31rem;
    top: 15rem;
    /* background-color: white; */
    border-radius: 50%;
}

.left, .right{
    width: 2rem;
    height: 1.rem;
    position: absolute;
    top: 0.2rem;
    align-items: center;
    justify-content: center;
}

.chitiet h3{
    display: flex;
    font-size: 1.2rem;
}

.ma{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
}

.sao{
    width: 17rem;
    margin-bottom: 1rem;
}

.money{
    background-color: #FFF2A9;
    display: flex;
    padding-left: 1rem;
}

.KM{
    font-size: 2rem;
    font-weight: bold;
    color: #CA080B;
    margin: 0.5rem 0.7rem 0.5rem 0rem;
}

.KM span {
    text-decoration-line: underline;
    margin-left: 0.15rem;
}

.GOC{
    font-size: 1.2rem;
    font-weight: bold;
    color: #4b4b4b;
    margin: 0.5rem 0.5rem 0.6rem 0rem;
    text-decoration-line: line-through;
    text-decoration-thickness: 0.15rem;
    display: flex;
    align-items: end;
}

.GOC span {
    text-decoration-line: underline;
}

.giam{
    font-size: 1.2rem;
    color: #CA080B;
    margin: 0.5rem 0.5rem 0.6rem 0rem;
}

h4 {
    font-size: 1rem;
    margin: 1.2rem 0.5rem 0.5rem 0rem;
}

.mausac1{
    display: flex;
}

.mau1::before{
    position: absolute;
    top: -0.25rem;
    right: -0.25rem;
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    border-radius: 50%;
    background-color: #EECBB4;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    /* z-index: 0; */
}

.mau2::before{
    position: absolute;
    top: -0.25rem;
    right: -0.25rem;
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    background-color: #F5F0E4;
    border-radius: 50%;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    /* z-index: 0; */
}

.size{
    display: flex;
    margin: 0;
    position: relative;
}

.size1{
    width: 2rem;
    height: 2rem;
    background-color: #e6e6e6;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    border-radius: 2px;
    margin: 0.5rem;
}

.guide{
    display: flex;
    position: absolute;
    top: -1.5rem;
    right: 1rem;
    align-items: center;
    cursor: pointer;
}

.ruler{
    height: 1rem;
    width: auto;
    align-items: center;
    /* margin: 0.5rem 0.5rem 0.5rem 0.5rem; */
}

.hd{
    font-size: 0.8em;
    color: #F26C37;
}

.guide svg{
    width: 1rem;
    height: 1rem;
    color: #F26C37;
    cursor: pointer;
}

.soluong{
    display: flex;
    margin: 0;
}

.tru, .cong, .so{
    width: 2rem;
    height: 2rem;
    background-color: #e6e6e6;
    border: 1px solid #4b4b4b;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.heart1::before{
    position: absolute;
    top: 1.1rem;
    right: 5rem;
    content: '';
    background-image: url(../img/HEART\ \(1\).png);
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    border: none;
    transition: .3s;
}

.heart1.active::before{
    background-image: url(../img/HEART\ \(2\).png);
}

.nut{
    position: relative;
    display: flex;
    align-items: center;
}

.butt{
    width: 17rem;
    height: 3rem;
    background-color: #C80F3D;
    color: white;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 3px;
}

.xemthem a{
    color: #F26C37;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-self: end;
    margin: 0.5rem;
    cursor: pointer;
}

.active-popup {
    opacity: 1;
    visibility: initial;
    pointer-events: initial;
}

.active-popup .khung {
    transform: rotateX(0);
}

footer {
    background-color: #800208;
    color: #fff;
    padding: 2rem 4rem;
    margin-top: auto; /* Push footer to the bottom */
    width: 100%; /* Make footer full width */
  }
  .footer-content {
    display: flex;
    justify-content: space-around;
  }
  .footer-section h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  .footer-section ul li {
    margin-bottom: 5px;
  }
  .footer-section a {
    color: #fff;
    text-decoration: none;
    font-size: 0.9rem;
  }
  .footer-section .payment-methods img {
    margin-right: 5px;
    width: 18rem;
  }
  .footer-bottom {
    margin-top: 20px;
    /* text-align: center; */
    margin-left: 5rem;
  }
  .footer-bottom a img {
    margin-right: 1.5rem;
    width: 1.5rem;
  }
  .company-info {
      text-align: left;
  }
  .company-info p{
    font-size: 0.9rem;
    margin-bottom: 0px;
  }
  .company-info h3{
    font-size: 1.2rem;
    margin-bottom: 0px;
  }
