body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #2C2B2B;
}

a{
    color: unset;
    text-decoration: none;
}

.container{
    width: 1000px;
    max-width: 90vw;
    margin: auto;
    padding-top: 10px;
    text-align: center;
    transition: 0.5s;
}

.title{
    font-size: 2rem;
    padding: 20px 0;
}

.ListProduct .item img{
    width: 100%;
    /* filter: drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.5)); */
}

.ListProduct {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.ListProduct .item {
    background-color: #F8F8F8;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.ListProduct .item .name{
    font-size: 0.75rem;
    text-align: left;
    padding: 20px 0px;
}

.ListProduct .item .price{
    font-size: 1.25rem;
    font-weight: bold;
    padding: 40px 0px 20px 0px;
    text-align: left;
}

/* mobile  */
@media screen and (max-width: 960px){
    .ListProduct{
        grid-template-columns: repeat(2, 1fr);
    }
}

.ListProduct .item button{
    background-color: #F8F8F8;
    border: none;
    padding: 5px;
    margin-left: 105px;
    cursor: pointer;
    transition: 0.3s;
}

svg{
    width: 40px;
    height: 40px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.icon-cart{
    position: relative;
}

.icon-cart span{
    background-color: #FFA07A;
    position: absolute;
    top: -10px;
    right: -5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


