

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #2C2B2B;
    overflow: auto;
}

@media screen and (max-width: 960px){
    .sidebar{
        background-color: rgba(128, 0, 32, 1);
        backdrop-filter: blur(10px);
    }
}

button{
    cursor: pointer;
}

.bannertop{
    width: 100vw;
}

.banner{
    width: 100vw;
    margin: 5vh 0 0 0;
}

.voucher{
    /* text-align: center; */
    width: 35vw;
    height: auto;
    cursor: pointer;
    /* margin: 0px 9vw 0px 9vw; */
}

.ma{
    padding: 0 9vw 9vh 9vw;
    /* margin: 0 0.09vw; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5vw;
    cursor: pointer;
    /* text-align: center; */
}

p{
    font-size: 1.3vw;
}

.a {
    text-decoration: none;
    color: white;
    font-size: 1vw;
    width: 4vw;
    height: auto;
    
}

.vc{
    position: relative;
}

.btn-ma{
    position: absolute;
    bottom: 2.5vw;
    right: 6vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 5vw;
    height: 2vw;
    background-color: #800208;
    border-style: solid;
    border-width: 0.2vw;
    border-color: #800208;
    border-radius: 6%;
}

.btn-free{
    position: absolute;
    bottom: 2.5vw;
    right: 6vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 5vw;
    height: 2vw;
    background-color: #00A375;
    border-style: solid;
    border-width: 3px;
    border-color: #00A375;
    border-radius: 6%;
}

/* show popup  */

.pop{
    color: #059B00;
    font-weight: medium;
}

.popup{
    position: absolute;
    /* display: flex;
    align-items: center; */
    width: 35vw;
    background-color: #D1FFDC;
    transition: all 0.3s;
    visibility: hidden;
    opacity: 0;
    box-shadow: 5px 5px 6px rgba(44, 43, 43, 0.2) ;
}

.check {
    display: flex;
    align-items: center;
    padding-left: 1vw;
}

.show-modal{
    visibility: visible;
    opacity: 1;
}

.show-modal .check{
    transform: translateY(0);
}
.show-modal-2{
    visibility: visible;
    opacity: 1;
}

.show-modal-2 .check{
    transform: translateY(0);
}
.show-modal-3{
    visibility: visible;
    opacity: 1;
}

.show-modal-3 .check{
    transform: translateY(0);
}
.show-modal-4{
    visibility: visible;
    opacity: 1;
}

.show-modal-4 .check{
    transform: translateY(0);
}
.show-modal-5{
    visibility: visible;
    opacity: 1;
}

.show-modal-5 .check{
    transform: translateY(0);
}
.show-modal-6{
    visibility: visible;
    opacity: 1;
}

.show-modal-6 .check{
    transform: translateY(0);
}
.show-modal-7{
    visibility: visible;
    opacity: 1;
}

.show-modal-7 .check{
    transform: translateY(0);
}
.show-modal-8{
    visibility: visible;
    opacity: 1;
}

.show-modal-8 .check{
    transform: translateY(0);
}

/* detail popup  */

.btn-ma-2{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    padding: 0;
    width: 500px;
    height: 35px;
    background-color: #800208;
    border-style: solid;
    border-width: 2px;
    border-color: #800208;
    border-radius: 3px;
}

.model{
    position: fixed;
    inset: 0;
    background-color: rgba(217, 217, 217, 0.5);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(5px);
    display: grid;
    place-items: center;
    padding: 2rem 1.5rem;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all .3s;
}

.khungpu {
    position: relative;
    background-color: white;
    padding: 50px 25px 15px;
    width: 550px;
    display: grid;
    row-gap: 15px;
    transition: all 0.3s;
    transform: rotateX(90deg);
}

.close{
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 32px;
    width: fit-content;
    cursor: pointer;
}

.tenvc{
    justify-self: center;
    border: solid 2px #c3c3c3;
    width: 400px;
    height: 100px;
}

.ten{
    color: #4b4b4b;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin: 15px;
}

.code{
    color: #4b4b4b;
    text-align: center;
    font-size: 16px;
    margin: 20px;
}

h3{
    color: #4b4b4b;
    position: absolute;
    top: 15px;
    left: 20px;
    font-size: 24px;
    margin: 0;
}

.noidung{
    color: #4b4b4b;
    font-size: 16px;
    padding: 0;
    width: 540px;
}

.b {
    text-decoration: none;
    color: white;
    font-size: 15px;
    width: 500px;
    height: auto;
    
}

.active-popup {
    opacity: 1;
    visibility: initial;
    pointer-events: initial;
}

.active-popup .khungpu {
    transform: rotateX(0);
}